.singleproductdesign{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    row-gap: 2em;
    margin: 2em 0em;
}
.image img{
    width: 150px;
    height: 150px;
     object-fit: contain;
}
.productsection{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    background-color: whitesmoke;
    align-items: center;
    padding: 1em 0em;
    border-radius: 15px;
}
.descriptionsection{
    text-align: center;
}
.descriptionsection h1 {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5;
    min-width: min-content;
}
.descriptionsection h2{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 2;
}
.descriptionsection p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
.addtocart button{
  font-size: 1em;
  padding: .5em 1em;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 10px whitesmoke;
}
.addtocart button:active{
    border: 3px solid rgb(159, 111, 214);
}